@import "components/navbar";
@import "components/banner";
@import "components/button";
@import "components/card_category";


.cards {
  width: 80%;
  margin: 40px auto;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: white !important;
  text-decoration:underline;
}
